{% extends 'basic/basic.html' %}
{% load static %}
{% block title %} Attendance {% endblock %}
{% block css %} 
<style>
    
.window {
    overflow: auto;
    min-height: 80.1vh;
    max-height: 80.1vh;
}
</style>
{% endblock %}
{% block body %}
<!-- Header -->
<div class="row">
    <div class="bg-dark col-md-2">
        <ul id="side-menu">
            <div class="bar"></div>
            <li><a href="/profile" class="links bar">
                    <i class="ti-user mx-3"></i>{{user.first_name}}</a></li>
            <li><a href="/notification" class="links">
                    <i class="ti-bell mx-3"></i>Notifications</a></li>
            <li><a href="/attendance" class="links activebar">
                    <i class="ti-layout mx-3"></i>Attendance</a></li>
            <li><a href="/graphs" class="links bar">
                    <i class="ti-bar-chart-alt mx-3"></i>Graphs</a></li>
            <li><a href="/cpassword" class="links bar">
                    <i class="ti-lock mx-3"></i>Change Passwd</a></li>
        </ul>
    </div>
    <!-- <div data-simplebar class="col-md-10 window bg py-5 px-5">  
        <div class="jumbotron text-center py-5 px-5 text-dark mt-5">
            <h1 class="py-5 px-5 text-center"><i class="ti-face-smile"></i>
            </br>Work in Progress</br>
            <span class="text-success">Attendance will soon be available</span>
            </h1>
        </div>
    </div> -->
    <div class="col-md-10 bg py-4 px-5">
        <div data-simplebar class="bg-light box window">
            <div class="card-header bg-dark">
                <span style="font-size:25px;"><i class="ti-calendar text-success mx-3"></i></span><span
                    style="font-size:18px;">Your attendance record</span>
                <span class="float-right my-2"><a href='/profile'><i class="ti-user mx-2"></i>{{user.username}}</a>
                </span>
            </div>
            <div class="card-body bg-light">
                <div class="row">
                    <button type="button" class="list-group-item col-md-3 d-flex list-group-item-action">Date</button>
                    <button type="button" class="list-group-item col-md-3 d-flex list-group-item-action"><i class="ti-book mx-2"> Subject</i></button>
                    <span type="button" class="list-group-item col-md-3 d-flex list-group-item-action"><i class="ti-time mx-2"> In time</i></span>
                    <span type="button" class="d-flex col-md-3 list-group-item list-group-item-success"><i class="ti-check mx-2"> Status</i></span>
                </div>
                <div id="no_att"></div>
                <div id="att"></div>
            </div>

        </div>
    </div>
</div>
{% include 'basic/footerSmall.html' %}
{% endblock %}
{% block js %}
<script>
    if (`{{att.count}}` === '0') {
        var nor_req = `<div class="card-header text-center mb-3 mt-3 bg-success">No attendance record found</div>`;
        $('#no_att').append(nor_req);
    }
    {% for item in att %}
    var element = '';
    if ('{{item.is_absent}}' == 'False') {
        element = `
            <div class="mt-2"></div>
            <div class="row">
                <button type="button" class="list-group-item col-md-3 d-flex list-group-item-action">{{item.date}}</button>
                <button type="button" class="list-group-item col-md-3 d-flex list-group-item-action">{{item.subject}}</button>
                <span type="button" class="list-group-item col-md-3 d-flex list-group-item-action">{{item.in_time}}</span>
                <span type="button" class="d-flex col-md-3 list-group-item list-group-item-success">Present</span>
            </div>
        `;
    }
    else {
        element = `
            <div class="mt-2"></div>
            <div class="row">
                <button type="button" class="list-group-item col-md-3 d-flex list-group-item-action">{{item.date}}</button>
                <button type="button" class="list-group-item col-md-3 d-flex list-group-item-action">-</button>
                <span type="button" class="list-group-item col-md-3 d-flex list-group-item-action">-</span>
                <span type="button" class="d-flex col-md-3 list-group-item list-group-item-danger">Absent</span>
            </div>
        `;
    }
    $('#att').append(element);
    {% endfor %}
</script>
{% endblock %}