{% extends 'basic/basic.html' %}
{% load static %}
{% block title %} Change Password {% endblock %}
{% block body %}
<!-- Header -->
<div class="row">
    <div class="bg-dark col-md-2">
        <ul id="side-menu">
            <div class="bar"></div>
            <li><a href="/profile" class="links bar">
                <i class="ti-user mx-3"></i>{{user.first_name}}</a></li>
            <li><a href="/notification" class="links bar">
                <i class="ti-bell mx-3"></i>Notifications</a></li>
            <li><a href="/attendance" class="links bar">
                <i class="ti-layout mx-3"></i>Attendance</a></li>
            <li><a href="/graphs" class="links">
                <i class="ti-bar-chart-alt mx-3"></i>Graphs</a></li>
            <li><a href="/cpassword" class="links activebar">
                <i class="ti-lock mx-3"></i>Change Passwd</a></li>
        </ul>
    </div>
    <div class="col-md-10 window bg py-5 px-5">
        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-8">
                <div class="text-center box padding">
                </br>
                    <form action="/cpassword/" method="post">
                        {% csrf_token %}
                        <div class="mb-4">
                            <h3 class="big name">Change Password</h3>
                            <div class="col-md-12 box mb-2" id="msgbox">
                                <div class="alert-warning bg-transparent text-center" id="alertmsg"></div>
                            </div>
                        </div>
                        <div class="mb-3">
                            <input type="password" class="form-control text-center" name="old_pass" placeholder="Current Passowrd" required>
                        </div>
                        <div class="mb-3">
                            <input type="password" id="pass" class="form-control text-center" name="new_pass" placeholder="New Passowrd">
                        </div>
                        <div class="mb-3">
                            <input type="password" id="conf" onkeyup="match_pass()" onchange="match_pass()" class="form-control text-center" placeholder="Confirm Passowrd">
                            <span class="text-warning mt-2" id="msg"></span>
                        </div>
                        <button id="submitButton" type="submit" class="btn btn-primary px-5" disabled>Submit</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% include 'basic/footerSmall.html' %}
{% endblock %}
{% block js %}
<script>
{% if messages|length == 0 %}
document.getElementById("alertmsg").style.display = "none";
{% else %}
document.getElementById("alertmsg").style.display = "block";
{% for message in messages %}
    if ('{{message}}'.includes("success"))
        var cls = "text-success";
    else   
        var cls = "text-danger";
    var ele = `
    <div class="${cls} py-2">
        <h6>{{message}}</h6>
    </div>
    `;
    $('#alertmsg').append(ele);
{% endfor %}
{% endif %}

function match_pass() {
    console.log("inside match pass");
    var x = document.getElementById("pass");
    var y = document.getElementById("conf");
    if (x.value.length < 7) {
        document.getElementById('msg').innerHTML = 'Password is too short';
        document.getElementById("submitButton").disabled = true;
        x.style.border = "2px solid red";
        y.style.border = "2px solid red";
    }
    else if (x.value != y.value){
        document.getElementById('msg').innerHTML = 'Password do not match';
        document.getElementById("submitButton").disabled = true;
        x.style.border = "2px solid red";
        y.style.border = "2px solid red";
        
    }
    else {
        var btn = document.getElementById("submitButton");
        document.getElementById('msg').innerHTML = '';
        x.style.border = "2px solid green";
        y.style.border = "2px solid green";
        btn.disabled = false;
    }
}
</script>
{% endblock %}